// Main color: light blue
$light-blue-0: #30C3F4;
$light-blue-1: #69DAFF;
$light-blue-2: #71DCFF;
$light-blue-3: #03536D;
$light-blue-4: #034C65;

// First secondary color: darker blue
$blue-0: #3B83F5;
$blue-1: #72A9FF;
$blue-2: #79ADFF;
$blue-3: #073174;
$blue-4: #092F6B;

// Second secondary color: green
$green-0: #29F5B2;
$green-1: #64FFCC;
$green-2: #6BFFCF;
$green-3: #00754E;
$green-4: #006B48;

// Complement color: orange
$orange-0: #FF972A;
$orange-1: #FFB364;
$orange-2: #FFB76B;
$orange-3: #AF5A00;
$orange-4: #A15300;

// Fonts
$font-0: Montserrat;
$font-1: Helvetica Neue;
$font-2: Helvetica;
$font-3: Arial;
$font-4: sans-serif;
$font-5: FontAwesome;

// Color aliases, etc.
$blue-primary: $light-blue-0;
$green-primary: $green-0;
$gallery-color: #eee;
$ebony-clay: #233140;
$white: #fff;
